<!DOCTYPE html>
<html lang="en" data-lang="{{ lang_code }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ word_iftarkar }}</title>
  <link rel="stylesheet" href="/assets/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/brands.min.css">
  <link rel="stylesheet" href="/assets/css/solid.min.css">
  <link rel="stylesheet" href="/assets/css/index.css">
  <script src="/assets/js/moment.min.js"></script>
  <!-- Favicons -->
  <meta name="theme-color" content="#3F51B5">
  </meta>
  <link href="/assets/favicons/icon-32x32.png" rel="icon" sizes="32x32" />
  <link href="/assets/favicons/icon-70x70.png" rel="icon" sizes="70x70" />
  <link href="/assets/favicons/icon-72x72.png" rel="icon" sizes="72x72" />
  <link href="/assets/favicons/icon-96x96.png" rel="icon" sizes="96x96" />
  <link href="/assets/favicons/icon-128x128.png" rel="icon" sizes="128x128" />
  <link href="/assets/favicons/icon-144x144.png" rel="icon" sizes="144x144" />
  <link href="/assets/favicons/icon-150x150.png" rel="icon" sizes="150x150" />
  <link href="/assets/favicons/icon-152x152.png" rel="icon" sizes="152x152" />
  <link href="/assets/favicons/icon-180x180.png" rel="icon" sizes="180x180" />
  <link href="/assets/favicons/icon-192x192.png" rel="icon" sizes="192x192" />
  <link href="/assets/favicons/icon-196x196.png" rel="icon" sizes="196x196" />
  <link href="/assets/favicons/icon-310x310.png" rel="icon" sizes="310x310" />
  <link href="/assets/favicons/icon-384x384.png" rel="icon" sizes="384x384" />
  <link href="/assets/favicons/icon-512x512.png" rel="icon" sizes="512x512" />
  <link href="/assets/favicons/icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="/assets/favicons/icon-180x180.png" rel="apple-touch-icon-precomposed">
  <link rel="icon" href="/assets/favicons/icon-32x32.png" sizes="32x32">
  <link color="#3F51B5" href="/assets/media/icon.svg" rel="mask-icon" />
  <link href="/assets/favicons/favicon.ico?v=2" rel="shortcut icon" />
  <meta name="msapplication-TileColor" content="#fdfdfd">
  <meta name="msapplication-TileImage" content="/assets/favicons/icon-144x144.png">
  <link rel="shortcut icon" sizes="196x196" href="/assets/favicons/icon-196x196.png">
  <meta name="application-name" content="Iftarkar">
  <meta name="msapplication-tooltip" content="Iftarkar">
  <meta name="msapplication-config" content="/assets/favicons/ieconfig.xml">

</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="/assets/media/logo_horizontal.svg" width="112" height="28">
      </a>

      <a onclick="javascript:toggleMenu();" role="button" class="navbar-burger burger" aria-label="menu"
        aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" onclick="javascript:launchCalendar()">
          <i class="fas fa-clock"></i>{{ word_timings }}
        </a>
        <a class="navbar-item" id="a2clink" href="assets/calendars/ahlesunnat/timings.ics">
          <i class="fas fa-calendar-alt"></i>{{ word_addtocalendar }}
        </a>
        <a class="navbar-item navswitch">
          <label class="switch" style="margin-right: 5px;">
            <input type="checkbox" id="change-fiqh">
            <span class="slider round"></span>
          </label>
          {{ word_fikkahjaffaria }}
        </a>
      </div>
      <div class="navbar-end">
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{ word_language }}
          </a>
    
          <div class="navbar-dropdown">
            <a class="navbar-item lang-button" data-target="en">EN</a>
            <a class="navbar-item lang-button" data-target="ur">UR</a>
          </div>
        </div> -->
        <div class="navbar-item is-hidden" id="btn-a2hs">
          <a class="button is-link" href="#" class="is-small">
              <i class="fas fa-plus-square"></i>
            </span>{{ word_downloadapp }}</a>
        </div>
        <div class="navbar-item is-hidden" id="btn-android">
          <a class="button is-success" target="_blank" href="https://play.google.com/store/apps/details?id=org.hackesta.iftarkar" class="is-small">
              <i class="fab fa-google-play"></i>
            </span>{{ word_playstore }}</a>
        </div>
        <div class="navbar-item">
          <a class="button is-info" target="_blank" href="mailto:developer@hackesta.org"><span class="is-small">
              <i class="fas fa-envelope"></i>
            </span>{{ word_mailus }}</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="lang-switch">
    <a class="lang-button" data-target="en" href="javascript:changeLanguage(0)">EN</a>
    <a class="lang-button" data-target="ur" href="javascript:changeLanguage(1)">UR</a>
  </div>
  <div class="container">
    <h1 id="text-title" class="{% if lang_code=='en' %} title {% endif %} has-text-centered">{% if lang_code=="ur" %}<span id="text-next"></span>{% endif %} {{ title_tlf }} {% if lang_code=="en" %}<b id="text-next"></b>{% endif %}</h1>

    <div>
      <h1 class="{% if lang_code=='en' %} title {% endif %} has-text-centered" id="clock"></h1>
    </div>
    <div class="progress-wrapper" style="margin-bottom: 20px; margin-top: 20px;">
      <progress id="timeprogress" class="progress is-custom" value="0" max="100">0</progress>
      <p class="progress-value">0%</p>

    </div>

  
  <h1 class="subtitle has-text-centered">{{ subtitle_saharending }}: <span id="text-sehritime"></span> </h1>
  <h1 class="subtitle has-text-centered">{{ subtitle_iftarnext }}: <span id="text-iftartime"></span> </h1>
  <div id="timeOffsetGroup" class="has-text-centered">
    {% if lang_code=="en" %}
    <h1 class="subtitle is-6" style="display: inline-block; line-height: 2.5rem; margin-right: 10px;">{{ subtitle_changearea }}: </h1>
    {% endif %}
    <div class="select">
      <select id="offsetSelect">
        <option data-offset="0"></option>
        <option data-offset="-1">{{ area_neg1 }}</option>
        <option data-offset="-2">{{ area_neg2 }})</option>
        <option data-offset="-3">{{ area_neg3 }}</option>
        <option data-offset="-11">{{ area_neg11 }}</option>
        <option class="is-hidden" data-special="kargil" data-offset="0">{{ area_kargil }}</option>
        <option data-offset="1">{{ area_pos1 }}</option>
        <option data-offset="2">{{ area_pos2 }}</option>
        <option data-offset="3">{{ area_pos3 }}</option>
        <option data-offset="4">{{ area_pos4 }}</option>

      </select>
    </div>
    {% if lang_code=="ur" %}
    <h1 class="subtitle is-6" style="display: inline-block; line-height: 0.5rem; margin-right: 10px;">:{{ subtitle_changearea }}</h1>
    {% endif %}
  </div>
  <div style="margin-top: 20px; margin-bottom: 50px; margin-left: 40px; margin-right: 40px;">
    <div id="dua-tabs" class="tabs is-centered">
      <ul>
        <li><a data-target="sahar">{{ dua_sahar }}</a></li>
        <li><a data-target="iftar">{{ dua_iftar }}</a></li>
      </ul>
    </div>
    <div class="dua has-text-centered is-hidden" id="dua-sahar">
      <h1 class="dua-arabic title is-5">وَبِصَوْمِ غَدٍ نَّوَيْتُ مِنْ شَهْرِ رَمَضَانَ</h1>
      <h1 class="dua-roman title is-5">Wa bisawmi ghadinn nawaiytu min shahri ramadan</h1>
      <h1 class="dua-english title is-5">I intend to keep the fast for tomorrow in the month of Ramadan</h1>
    </div>
    <div class="dua has-text-centered is-hidden" id="dua-iftar">
      <h1 class="dua-arabic title is-5">اللَّهُمَّ اِنِّى لَكَ صُمْتُ وَبِكَ امنْتُ وَعَليْكَ تَوَكّلتُ وَ عَلى رِزْقِكَ اَفْطَرْتُ</h1>
      <h1 class="dua-roman title is-5">Allahumma inni laka sumtu wa bika aamantu wa alayka tawakkaltu wa ala rizq-ika-aftartu</h1>
      <h1 class="dua-english title is-5">O Allah! I fasted for You and I believe in You and I put my trust in You and I break my fast with Your sustenance</h1>
    </div>
  </div>
</div>
  <div id="modal-calendar" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ word_timings }}</p>
        <button class="delete" aria-label="close" onclick="javascript:toggleModal('modal-calendar')"></button>
      </header>
      <section class="modal-card-body">
        <div>
          <table class="table is-bordered is-striped is-fullwidth">
            <thead>
              <tr>
                <th>{{ word_date }}</th>
                <th>{{ word_sahar }}</th>
                <th>{{ word_iftar }}</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <button onclick="javascript:toggleTheme()" class="fab-theme-button sun"></button>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Iftarkar</strong> -

        <a href="https://haideralipunjabi.com" target="_blank">Haider Ali Punjabi</a> |
        <a
          href="https://hackesta.org" target="_blank">Hackesta</a>
      </p>
    </div>
  </footer>
  <script src="/assets/js/index.js"></script>
</body>

</html>