/* purgecss start ignore */
@font-face {
  font-family: Katibeh;
  src: url("/assets/webfonts/katibeh.ttf")
}
@font-face {
  font-family: Jameel Noori;
  src: url("/assets/webfonts/Jameel_Noori.ttf")
}

:root {
    --container-padding-top: 80px;
    --background-color: #ECEEF8;
    --primary-color: #3F51B5;
    --progress-color: #3F51B5;
    --progrss-background-color: #CFD4ED;
    --fontfamily:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    --factor:1;
    --title-font: 3rem;
    --clock-font: 10rem;
  }
[data-theme="dark"] {
  --background-color: #131836;
  --primary-color: #3F51B5;
  --text-color: #ffffff;
}

[data-lang="ur"] .tabs {
  font-size: 2em;
}
[data-lang="ur"] .navbar {
  font-size: 1.5em;
}
[data-lang="ur"] .button {
  font-size: 1.5rem;
}
[data-lang="ur"] .subtitle {
  font-size: 2.5em;
}
[data-lang="ur"] {
  --fontfamily: Jameel Noori;
  --factor: 1.5;
}
.title, .subtitle,.tabs a {
  color: var(--text-color);
}
html {
  background-color: var(--background-color);
  font-family: var(--fontfamily);
}
body {
  font-family: var(--fontfamily);
}
select {
  font-family: var(--fontfamily);
}
.navbar {
  background-color: var(--primary-color) !important;
}
.is-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    padding-top: var(--container-padding-top);
}
#text-title{
    font-size: calc(var(--title-font)*var(--factor));
}
#clock {
  font-size: var(--clock-font);
}
  .modal {
    padding: 32px;
  }

  .footer {
    padding: 5px !important;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
  }

  .footer strong, a {
    color:#ffffff;
  }

  .fab-theme-button {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: fixed;
    right:10px;
    bottom: 50px;
    background-size: contain;
    background-position: center;
  }
 .fab-theme-button.sun {
  background-image: url("/assets/media/icon_Sun.svg");
 }
 .fab-theme-button.moon {
  background-image: url("/assets/media/icon_moon.svg");
 }
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#131836;
}

input:focus + .slider {
  box-shadow: 0 0 1px #131836;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar-item.navswitch:hover,.navbar-item.navswitch:active,.navbar-item.navswitch:focus,.navbar-item.navswitch:focus-within{
  background-color: inherit !important;
}

.progress.is-custom::-webkit-progress-bar {
  background-color:var(--progrss-background-color);
}

.progress.is-custom::-webkit-progress-value {
  background-color: var(--progress-color);
}

.progress.is-custom::-moz-progress-bar {
  background-color: var(--progress-color);

}

.progress.is-custom::-ms-fill {
  background-color: var(--progress-color);
}

.progress.is-custom:indeterminate {
  background-image: linear-gradient(to right, var(--progress-color) 30%, #ededed 30%);
}
.progress-wrapper {
  position: relative;
}

.progress-value {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1rem / 1.5);
  line-height: 1rem;
  font-weight: bold;
  color: #131836;
}

.progress.is-small+.progress-value {
  font-size: calc(0.75rem / 1.5);
  line-height: 0.75rem;
}

.progress.is-medium+.progress-value {
  font-size: calc(1.25rem / 1.5);
  line-height: 1.25rem;
}

.progress.is-large+.progress-value {
  font-size: calc(1.5rem / 1.5);
  line-height: 1.5rem;
}

 /* Breakpoint */
 @media only screen and (max-width: 600px) {
  :root {
      --title-font: 1.5rem;
      --clock-font: 5rem;
  }
}

@media only screen and (min-width: 600px) {
  :root {
      --title-font: 3rem;
      --clock-font: 10rem;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
      --title-font: 3rem;
      --clock-font: 10rem;

  }
}
.select:not(.is-multiple) {
  height: 2em;
}
.fas, .fab {
  margin-right: 7px;
}

.select select {
  font-size: 0.8em;
}

.footer, .dua, .lang-button{
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
 /* purgecss end ignore */
